<div class = "background_static_pages main_content">
<div class = "static_pages_header">
  Blog
</div>
  <div class = "static_pages_body">
    <div class="art3">
      <%= render 'blog3' %>
    </div>
    <hr>
    <div class="art2">
      <%= render 'blog2' %>
    </div>
    <hr>
    <div class="art1">
      <%= render 'blog1' %>
    </div>
</div>
<script type="text/javascript">
  if ($('.art<%= params[:art_id] %>').length > 0) {
    $(function(){
      $('html, body').animate({
          scrollTop: $('.art<%= params[:art_id] %>').offset().top
      }, 'fast');
      return false;
    });
  }
</script>
