<div class="reviews" >

<div class="breadcrumb" id="review_<%=review.id%>">

<div class="left_window">
  <!-- <div class="left-part"> -->
    <%= fb_avatar(review.user) %>



<!-- Render 'You', if it's the current user, or else the name of the person who owns the Address Book entry -->
<div class = "address_entry_user_name">    
      <% if current_user.name == review.user.front_name %>
      <%= link_to "You", user_path(review.user) %> 
      <% else %>
      <%= link_to review.user.front_name, user_path(review.user), :class => "ajax" %> 
      <% end %>
</div>

    <div class="category_name">
    <%= review.categories_list %>
    </div>

<div class="info">
      <strong><%= I18n.t('user.review.name') %></strong><%= review.name %><br>
      </br>
      <strong><%= I18n.t('user.review.address') %></strong><%= review.address %><br>
      </br>
      <strong><%= I18n.t('user.review.phone') %></strong><%= review.phone %><br>
      </br>
    <div class = "posted_at"><%= time_ago_in_words(review.created_at) %> ago.</div>
  </div>
</div>
    
<div class="right_window">

<div class="comments"><%= I18n.t('user.review.comments') %></div> 
    <div class="review-text">
      <%= review.comment %>
    </div>
    <%= render 'reviews/add_to_your_page', :review => review  unless current_user == review.user %>
<div class = "binder">
  </div>

  <div class="clearfix"></div>

</div>

  <!-- <hr style="margin: 0 30px;"/> -->

</div>

</div>