</br>
</br>
</br>
</br>
<% if @all_reviews.any? %>
  <div class = "background_your_address_book">
    <% if @user_reviews.any? %>
      <div class = "search_headings">Your Address Book:</div>
      <% @user_reviews.each do |review| %>
        <%= render 'review', :review => review %>
      <% end %>
    <% end %>

    <% if @fb_friends_reviews.any? %>
      <div class = "search_headings">Friends in your area:</div>
      <% @fb_friends_reviews.each do |review| %>
        <%= render 'review', :review => review %>
      <% end %>
    <% end %>

    <% if @other_people_reviews.any? %>
      <div class = "search_headings">Others in your area:</div>
      <% @other_people_reviews.each do |review| %>
        <%= render 'review', :review => review %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <%= render :partial => 'layouts/no_reviews_in_your_area' %>
<% end %>


<!-- Companies not used yet - for business registration: -->
<%# if @companies.size > 0 %>
  <!-- <h4>Found in companies</h4> -->
  <%# @companies.each do |company| %>
    <!-- <p><%#= link_to company.name, resource_home_path(company) %></p> -->
  <%# end %>
<%# end %>



<div class='find-something'>
  <div class = "background_your_area">

  <div id="your_area">
  <div id = "Address_book_area">
    <%# if current_resource.name == @resource.name %>
    <%= "Your Area:" %>
    <%# else %>
      <%# if @resource.is_company? %>
        <%#= "#{@resource.name}" + "'s Area:" %>
      <%# else %>
        <%#= "#{@resource.first_name.capitalize}" + " " + "#{@resource.last_name.capitalize}" + "'s Area:" %>
      <%# end %>
    <%# end %>
  </div>

    <!-- id area_help and your_area_help_text is required by javascript function -->
    <div id = "area_help">
      <%= image_tag("why_fb_log_in.png") %>
    </div>
    <!-- text for the qtip goes here, in this div, which is hidden -->
    <div id = "your_area_help_text">
      <%# if current_resource.name == @resource.name %>
        <%= "When you search Address Books, we’ll give results from people who live within the circle on the map -  20km around the address you gave when registering with Populisto! Listings from your Facebook friends come up first (if you logged in with FB)." %>
      <%# else %>
        <%# if @resource.is_company? %>
          <%#= "When #{@resource.name}" + " searches Address Books, we give results from people who live within the circle on the map." %>
        <%# else %>
          <%#= "When #{@resource.first_name.capitalize}" + " " + "#{@resource.last_name.capitalize}" + " searches Address Books, we give results from people who live within the circle on the map." %>
        <%# end %>
      <%# end %>
        <p></p>
    </div>
  </div>


<div id="map_canvas">
  <script>
  $(function() {
// this function can be found in draw_map.js.erb
initialize_google_maps();
});
  </script>
</div>

      <!-- Use the @resource.lat and lng attributes to draw the map in the
      map_canvas div, above -->
<div id="user-position" class="hidden" data-lat="<%= current_resource.lat %>" data-lng="<%= current_resource.lng %>"></div>
</div>
</div>
