
  <!DOCTYPE html>
  <html>
  <head>

<script>
$().ready(function() {
  // we want to show the html text in div #why_fb_log_in_text
var thecontent = $('#why_fb_log_in_text').html();
$('#why_fb_log_in').qtip({
   content: thecontent,
   show: 'mouseover',
   hide: 'mouseout',
  position: {
      corner: {
         target: 'bottomLeft',
         tooltip: 'topRight'
      }
   },
    style :{
            background: '#FAF798',
            width: 400
            // tip: { corner: 'leftTop' }
        }
});
});

</script>


  </head>

  <body>

<div id = "animation_movie">
animation goes here
</div>

  <div class="login-page">

   <div id = "business-org-section">
  
      <b>Are you a business or organization?</b> Click <%= link_to "here", new_company_session_path %>
</div>

<div class='facebook-section'>

<%= fb_login_button(image_tag("Facebook-orig.png")) %>

      <div id = "why_fb_log_in">

      Why Facebook log in
<%= image_tag("why_fb_log_in.png") %>

        </div>

<!-- text for the qtip goes here, in this div, which is hidden -->
                <div id = "why_fb_log_in_text">
    <p>Logging in for the first time, you'll get the message,'Populisto would like to access your public profile, friend list and email address.'</p>
    <p>This is just standard Facebook stuff. <b>We won't contact any of your friends, we won't automatically post to your wall, your email will be kept private. </b></p>
    <p>Facebook Log in means a quick log in, with one less password to remember.</p>
    </br>
        </div>


        <div class="or-devider">
          <%= I18n.t('sign_in.or') %>
        </div>

      </div>

      <div class='sign-in-section'>

          <%= simple_form_for(User.new, :as => :user, :url => session_path(:user), :html => {}) do |f| %>

            <div class="inputs">
    <%= f.input_field :email, :required => false, :autofocus => true, :placeholder => I18n.t('sign_in.email_address_placeholder') %>
              <br/>
              <%= f.input_field :password, :required => false,  :placeholder => I18n.t('sign_in.password_placeholder') %>
              <!-- <div class='all_links'> -->
              <div class='links1'>
              <%= f.input :remember_me, :as => :boolean, :label => false, :inline_label => 'Remember me' %>
              </div>
              <div class='links'>
              <%= link_to I18n.t('sign_in.forgot_password'), new_user_password_path %>
              </div>
              <!-- </div> -->
            </div>
                      
   <%#= link_to I18n.t('sign_in.forgot_password'), new_user_password_path %>

            <%#= link_to I18n.t('sign_in.sign_up'), new_user_registration_path %>
          
   </br>
   </br>

   <div class="actions">

              <%= f.button :submit, I18n.t('sign_in.sign_in_button'), :class => 'btn btn-primary' %>


              <%#= f.button :submit, I18n.t('sign_in.sign_up_button'), :class => 'btn btn-warning' %>
              <%= link_to I18n.t('sign_in.sign_up_button'), new_user_registration_path, :class => "btn btn-warning" %>

          <% end %>
        </div>

      </div>
  </div>


<!--   <div id="iPad-promo">
    <li id="win_ipad"> -->
    <!-- <div id="smiley"> -->
    <%#= image_tag("smiley.png") %>
  <!-- </div> -->
    <!-- <p class="title">And...290513</p> -->
    <!-- <div id = "win_ipad_text"> -->
    <!-- Be in with the chance to win an iPad! -->
    <!-- </div> -->
      <%#= link_to "Terms and conditions apply", '#', :onclick => "javascript:window.open(\"terms.html.erb\",'Terms and Conditions', 'width=300, height=600');" %>
   <!-- <div id = "ipad_image"> -->
    <%#= image_tag "ipad.png" %>
   <!-- </div> -->
 <!-- </div> -->


  </body>
  </html>
