<!-- it was a lot of commented code here, just to make it easier to read I moved it to a partial
named commented_code so you can have a copy of it -->
<%#= render 'commented_code' %>
<br>
<br>
<br>
<br>

<div class = "background_your_address_book">

 <div class="reviews">
  <!-- show the current user's Address Book entries or-->
  <!-- if current user goes to another person's Address Book , show the results on that person's Address Book  -->
  <!-- this is separate to doing a search -->
  <!-- go through all the user's entries, make sure they match up with the visible_to?
  method in the reviews model- not showing another user's private reviews - and then display those results -->
    <% if @reviews.any? %>
    <!-- if the person has reviews, show the 'Your Address Book' heading, and the reviews that follow -->
      <div id = "Address_book_owner">
        <% if current_resource == @resource %>
        <%= "Your Address Book:" %>
        <% else %>
          <% if @resource.is_company? %>
          <!-- resource full name considering if name ends with s -->
            <%= resource_full_name(@resource.name) %>
          <% else %>
          <!-- resource full name considering if name ends with s -->
            <%= resource_full_name(@resource.front_name) %>
          <% end %>
          <% if current_user %>
          <div class="follow_book follow_<%= @resource.id %>">
            <%= link_to_follow_toggle(@resource) unless current_resource.friend_of?(@resource) %>
          </div>
          <% end %>
        <% end %>
        <div id = "address_book_image">
          <%= image_tag('happy_characters_address_book.png', :size => "218x95") %>
        </div>
      </div>
      <!-- show the reviews -->
      <% @reviews.each do |review| %>
        <% if review.visible_to?(current_resource) %>
          <div class="breadcrumb" id="review_<%= review.id %>">
          <%= render 'reviews/review', :review => review %>
          </div>
        <% end %>
      <% end %>
      <!-- if the person has no reviews, show the layout, below -->
    <% else %>
      <%= render :partial => 'layouts/empty_user_address_book' %>
    <%end %>
  </div>
</div>

<!-- <div class = "background_your_area">
  <div id="your_area">
    <div id = "Address_book_area"> -->
      <%# if current_resource.name == @resource.name %>
      <%#= "Your Area:" %>
      <%# else %>
        <%# if @resource.is_company? %>
          <%#= "#{@resource.name}" + "'s Area:" %>
        <%# else %>
          <%#= "#{@resource.first_name.capitalize}" + " " + "#{@resource.last_name.capitalize}" + "'s Area:" %>
        <%# end %>
      <%# end %>
    <!-- </div> -->
    <!-- id area_help and your_area_help_text is required by javascript function -->
    <!-- <div id = "area_help"> -->
      <%#= image_tag("why_fb_log_in.png") %>
    <!-- </div> -->
    <!-- text for the qtip goes here, in this div, which is hidden -->
    <!-- <div id = "your_area_help_text"> -->
      <%# if current_resource.name == @resource.name %>
        <%#= "When you search Address Books in your area, we’ll give results from people who live within the circle on the map -  20km around the address you gave when registering with Populisto! Listings from your Facebook friends come up first (if you logged in with FB)." %>
      <%# else %>
        <%# if @resource.is_company? %>
          <%#= "When #{@resource.name}" + " searches Address Books in their area, we give results from people who live within the circle on the map." %>
        <%# else %>
          <%#= "When #{@resource.first_name.capitalize}" + " " + "#{@resource.last_name.capitalize}" + " searches Address Books in the area, we give results from people who live within the circle on the map." %>
        <%# end %>
      <%# end %>
<!--       <p></p>
    </div>
  </div> -->

  <!-- <div id="map_canvas"></div> -->
  <!-- Use the @resource.lat and lng attributes to draw the map in the map_canvas div, above -->
  <!-- <div id="user-position" class="hidden" data-lat="<%= @resource.lat %>" data-lng="<%= @resource.lng %>"></div> -->
<!-- </div> -->

