
<!DOCTYPE html>
<html>
<head>
<script>

  </script>
</head>
<body>

<!-- <div class="users-page"> -->



  <!-- <div class="user-info"> -->

<!--     <div class = "avatar">
      <%#= fb_avatar(@resource) %>
    </div> -->
    <%#= label_tag I18n.t('helpers.your_page'), your_page(@resource), :class => 'your_page_label' %>
    <%#= label_tag I18n.t('helpers.pop_something_in'), pop_something(@resource), :class => 'pop_something_in' %>


         <!-- If the user has nothing in their address book,
         or if a person whose page is being viewed has nothing in it,
         render the page below. Basically, it says, 'This address book is empty' -->
        <!-- <div id ="contains"> -->

             <!--    <div id="testy">
    <%#= image_tag("logo.jpg") %>
  </div> -->


<!-- <div id = "Address_book_heading"> -->
<!--   <div id = "Address_book_owner">
    <%# if current_resource.name == @resource.name %>
    <%#= "Your Address Book:" %>
    <%# else %>
      <%# if @resource.is_company? %>
        <%#= "#{@resource.name}" + "'s Address Book:" %>
      <%# else %>
        <%#= "#{@resource.first_name.capitalize} " + "#{@resource.last_name.capitalize}" + "'s Address Book:" %>
      <%# end %>
    <%# end %>
  </div> -->
       <!-- this shows the user's address, with the option to toggle public or private -->
    <%#= render 'your_location' %>
  <div class = "background_your_area">

  <div id="your_area">
  <div id = "Address_book_area">
    <% if current_resource.name == @resource.name %>
    <%= "Your Area:" %>
    <% else %>
      <% if @resource.is_company? %>
        <%= "#{@resource.name}" + "'s Area:" %>
      <% else %>
        <%= "#{@resource.first_name.capitalize}" + " " + "#{@resource.last_name.capitalize}" + "'s Area:" %>
      <% end %>
    <% end %>
  </div>


    <div id = "area_help">
      <%= image_tag("why_fb_log_in.png") %>
    </div>
          <!-- text for the qtip goes here, in this div, which is hidden -->
      <div id = "your_area_help_text">
            <% if current_resource.name == @resource.name %>
    <%= "When you search Address Books, we’ll give results from people who live within the circle on the map -  20km around the address you gave when registering with Populisto! Listings from your Facebook friends come up first (if you logged in with FB)." %>
    <% else %>
      <% if @resource.is_company? %>
        <%= "When #{@resource.name}" + " searches Address Books, we give results from people who live within the circle on the map." %>
      <% else %>
        <%= "When #{@resource.first_name.capitalize}" + " " + "#{@resource.last_name.capitalize}" + " searches Address Books, we give results from people who live within the circle on the map." %>
      <% end %>
    <% end %>
        <p></p>
      </div>
  </div>


<div id="map_canvas">
  <script>
  $(function() {
// this function can be found in draw_map.js.erb
initialize_google_maps();
});
  </script>
</div>

      <!-- Use the @resource.lat and lng attributes to draw the map in the
      map_canvas div, above -->
<div id="user-position" class="hidden" data-lat="<%= @resource.lat %>" data-lng="<%= @resource.lng %>"></div>
</div>

      <!-- <div id = "character_and_bubbles"> -->


<!--         <div id = "top_bubble_div">
          <div id="top_bubble"> -->
            <!-- if the user is looking at their own Address Book, show this... -->
            <%# if @resource == current_user %>
            <%#= "Would you like to " %>
            <%#= link_to "pop something in", reviews_path %>
            <%#= "to your Address Book? A butcher, a baker, a candlestick maker? Someone's skills worth knowing about? Let others in your community know about us!" %>

            <!-- if the user is looking at someone else's Address Book, show this... -->
            <%# elsif @resource != current_user %>
            <%#= "This is the Address Book of " %>
            <%#= "#{@resource.first_name.capitalize} " + "#{@resource.last_name.capitalize}" %>
            <%#= ". Do you want to " %>
            <%#= link_to "pop something in", reviews_path %>
            <%#= "to your own Address Book?" %>
            <%# end %>

<!--           </div>
        </div> -->

        <!-- <div id = "p_mechanic"> -->
          <%#= image_tag("p_mechanic.png") %>
        <!-- </div> -->

<!--         <div id = "right_bubble_div">
          <span id="right_bubble"> -->
            <!-- if the user is looking at their own Address Book, show this... -->
            <%# if @resource == current_user %>
            <%#= "When you do a search, we’ll return the results from peoples’ address books, who live within the circle on the map -  20km around the address you gave when registering with Populisto."
            %>

            <!-- if the user is looking at someone else's Address Book, show this... -->
            <%# elsif @resource != current_user %>
            <%#= "#{@resource.first_name.capitalize} " + "#{@resource.last_name.capitalize}" %>
            <%#= "can see the address books of people within the circle, on the map."
            %>
            <%# end %>
<!--           </span>
        </div> -->



<%#=  I18n.t 'find_something.empty_user_owner' %>
<%# else %>

  <%#= @resource.first_name.capitalize %>
  <%#= I18n.t 'helpers.s_page' %>
  <%#= I18n.t 'find_something.empty_user_other' %>
<!-- </h3> -->



  <!-- </div> -->
<!--
  <br>
  <br>
  <br>
  <br>
  <hr> -->


<!-- <div id = "following_and_ipad"> -->
  <!-- show the followers/following link -->
  <!-- <div id="following"> -->

<%#= render 'stats', :user => @resource, :stats_user_id => @resource.id %>
<!-- </div> -->

<!-- <div id="comp"> -->
<!-- show the 'invite others and win an iPad' -->
<%#= render :partial => 'layouts/competition' %>
<!-- </div> -->
<!-- </div> -->

    <!-- <div class="clear-both"></div> -->



<!-- </div> -->






    <%#= render :partial => 'layouts/empty_user_address_book' %>
    <%# if @reviews.any? == false %>
    <%# end %>









    <%#= link_to "Pop something in",reviews_path %>

    <%#= render 'follow_form', :user => @resource %>





    <!-- <div class="clearfix"></div> -->

  <!-- </div> -->

<!-- <div class='find-something'> -->

  <!-- <div class="greetings"> -->
    <%# if @resource == current_user %>
    <!-- <p><%#= "just here for testing:" + current_user.first_name %></p> -->
    <%#= I18n.t('find_something.greetings', :km => @kms_range) %>
    <%#= "Hi " + current_user.first_name + ", " + I18n.t('find_something.greetings', :km => @kms_range) %>
    <%#=  %>
    <%# elsif @resource.address_visible %>
    <%#="#{@resource.first_name.capitalize}" + I18n.t('helpers.s_area') + " #{@resource.address}" %>
    <%# else %>
    <%#= "#{@resource.first_name.capitalize}" + I18n.t('helpers.s_area') %>
    <%# end %>




    <%#= link_to I18n.t("find_something.change_range_#{@kms_range}"), change_range_search_index_path(:current_range => @kms_range) %>
  <!-- </div> -->
  <br>
  <br>
    <%#= link_to ("Go here", "http://www.rosk.com/") %>
    <%#= link_button_to 'Log out', sign_out_path, :class => 'fb-logout', :method => :delete %>

  <!-- <div class="search-area"> -->

    <!-- <div class='search-box'> -->
      <%#= simple_form_for @review, :url => search_index_path, :method => :post, :html => { :class => 'form-horizontal'} do |f| %>

        <%#= f.input :search_ids, :collection => @data, :as => :grouped_chosen,
                    :group_method => :last, :prompt => false,
                    :input_html => { :class => 'span5', :multiple => true },
                    :label => t('find_something.search_label'),
                    :placeholder => t('find_something.search_placeholder') %>

        <%#= f.button :submit, :value => t('find_something.button_text'), :class => 'btn-primary search-button' %>

      <%# end %>
    <!-- </div>  -->
    <!-- <div class="clearfix"></div> -->
<!--     <div id="latitude" data-lat="<%# @resource.lat %>">jjjjj</div>
    <div id="longitude" data-lng="<%# @resource.lng %>">kkkkk</div> -->

<!--     <div id="map_canvas">

    </div> -->
    <!-- This is here, to generate the user's latitude and longitude dynamically -->
    <!-- The data-lat and lng attributes are used in 'initialise_google_maps' function, in scripts.js' -->


<!--
    <button id="show_the_number">show</button>
    <input type="text" id="text1"> -->


    <!-- <div id='users-counter'> -->
        <%#= @resource.lat %>
        <%#= @resource.lng %>
   <!-- are these below from the controller? -->
  <%#= @resource_latitude %>
  <%#= @resource_longitude %>
<!-- </div> -->
<!-- <a href='#' id='stop-renewing'>
  Stop renewing
</a> -->

    <!-- <div class="clearfix"></div> -->

  <!-- </div>  -->

<!-- this closing div seems to have no opening match, yet when I take it out, the reviews isn't
formatted correctly -->
 <!-- </div> -->

 <!-- <div id = "followers_following"> -->
 <%#= render 'follow_form', :user => @resource %>
<!-- </div> -->
<div class = "background_your_address_book">

 <div class="reviews">
  <!-- show the current user's Address Book entries or-->
  <!-- if current user goes to another person's Address Book , show the results on that person's Address Book  -->
  <!-- this is separate to doing a search -->
  <!-- go through all the user's entries, make sure they match up with the visible_to?
  method in the reviews model- not showing another user's private reviews - and then display those results -->

  <% if @reviews.any? %>
<!-- if the person has reviews, show the 'Your Address Book' heading, and the reviews that follow -->
    <div id = "Address_book_owner">
    <% if current_resource.name == @resource.name %>
    <%= "Your Address Book:" %>
    <% else %>
      <% if @resource.is_company? %>
        <%= "#{@resource.name}" + "'s Address Book:" %>
      <% else %>
        <%= "#{@resource.first_name.capitalize} " + " " + "#{@resource.last_name.capitalize}" + "'s Address Book:" %>
      <% end %>
    <% end %>
    <div id = "address_book_image">
      <%= image_tag('happy_characters_address_book.png', :size => "218x95") %>
  </div>
  </div>
<!-- show the reviews -->
    <% @reviews.each do |review| %>
      <% if review.visible_to?(current_resource) %>
        <div class="breadcrumb" id="review_<%= review.id %>">
        <%= render 'reviews/review', :review => review %>
        </div>
      <% end %>
    <% end %>
    <!-- if the person has no reviews, show the layout, below -->
  <% else %>
    <%= render :partial => 'layouts/empty_user_address_book' %>
  <%end %>

  <%# if @reviews.any? %>

    <%# @reviews.select { |review| review.visible_to?(current_user) }.each do |review| %>
    <%#= render 'reviews/review' %>
   <%# end %>


<%#= render 'reviews/review_container' %>
<%#= review.id %>

    <%# @reviews.each do |review| %>
      <%#= review_block review %>
    <%# end %>
  <%# else %>
    <%#= render :partial => 'layouts/empty_user_address_book' %>
  <%# end %>
</div>
</div>

</body>
</html>
