
<div class = "top_of_page_right">
 <h2>Help your friends find what they need, and store your contacts. <%= link_to 'Pop something in!', reviews_path %></h2>
</div>

<div class = "green_arrow">
   <%= image_tag("green_arrow2.png")  %>
 </div>

 <div class = "top_of_page">
 <h2>Your friends, their recommendations... search categories, or type the name of a friend to see if they're on Populisto!</h2>
</div>




<div class = "your_page">


  <h1>Your page</h1>
  <p></p>
  <table class="table">
    <tr>
      <td><h3>In your Address Book you have:</h3></td>
      <td><h3><%= link_to pluralize(@reviews_count, 'entry'), address_book_path(current_resource) %></h3></td>
    </tr>
    <tr>
      <td><h3>Populisto! users in your area:</h3></td>
      <td><h3><%= link_to pluralize(@users_in_area_count, 'people'), users_in_area_path(current_resource) %></h3></td>
    </tr>
    <tr>
      <td><h3>Populisto! users outside your area:</h3></td>
      <td><h3><%= link_to pluralize(@friends.count, 'friend'), friends_outside_area_path(current_resource) %></h3></td>
    </tr>
  </table>
</br>
</br>

  <div id="your_area">
    <div id = "Address_book_area">
      <% if current_resource.name == @resource.name %>
      <h2><%= "Your Area:" %></h2>
      <% else %>
        <% if @resource.is_company? %>
          <%= "#{@resource.name}" + "'s Area:" %>
        <% else %>
          <%= "#{@resource.first_name.capitalize}" + " " + "#{@resource.last_name.capitalize}" + "'s Area:" %>
        <% end %>
      <% end %>
    </div>
    <!-- id area_help and your_area_help_text is required by javascript function -->
    <div id = "area_help">
      <%= image_tag("why_fb_log_in.png") %>
    </div>
    <!-- text for the qtip goes here, in this div, which is hidden -->
    <div id = "your_area_help_text">
        <%= "'Your Area' is 20km around the address you gave at registration. Listings from your Facebook friends come up first (if you logged in with FB)." %>
    </div>
  </div>

  <div id="map_canvas"></div>
  <!-- Use the @resource.lat and lng attributes to draw the map in the map_canvas div, above -->
  <div id="user-position" class="hidden" data-lat="<%= @resource.lat %>" data-lng="<%= @resource.lng %>"></div>

<script>
  $(function() {
  // this function can be found in draw_map.js.erb
  initialize_google_maps();
  });
</script>



</div>
