<div class="row-fluid your_page_infos">
  <div class="span12">
    <div class = "span5">
      <h2 class="user_page_info_left">
        Search! Type someone's name or pick a category.
      </h2>
    </div>
    <div class = "span2 image_div">
      <%= image_tag("green_arrow2.png")  %>
    </div>
    <div class = "span5">
      <h2>
        Help your friends find what they need, and store your contacts. <%= link_to 'Pop something in!', reviews_path %>
      </h2>
    </div>
  </div>
</div>

<div class = "your_page main_content">
  <h1>You:</h1>
  <p></p>
  <table class="table">
    <tr>
      <td><h3>In <%= link_to ('your Address Book',address_book_path(current_resource))  %> you have:</h3></td>
      <td><h3><%= link_to pluralize(@reviews_count, 'entry'), address_book_path(current_resource) %></h3></td>
    </tr>
    <tr>
      <td><h3>Populisto! users in your area:</h3></td>
      <td><h3><%= link_to pluralize(@users_in_area_count, 'people'), users_in_area_path(current_resource) %></h3></td>
    </tr>
    <tr>
      <td><h3>Populisto! users outside your area:</h3></td>
      <td>
        <h3>
          <%= link_to pluralize(@friends_outside.count, 'friend'), friends_outside_area_path(current_resource) if current_user %>
          <%= link_to pluralize(@users_outside.count, 'people'), users_outside_area_path(current_resource) if current_company %>
        </h3>
      </td>
    </tr>
  </table>
  </br>
  </br>

  <div id="your_area">
    <div id = "Address_book_area">
      <% if current_resource.name == @resource.name %>
      <h2><%= "Your Area:" %></h2>
      <% else %>
        <% if @resource.is_company? %>
          <%= "#{@resource.name}" + "'s Area:" %>
        <% else %>
          <%= "#{@resource.first_name.capitalize}" + " " + "#{@resource.last_name.capitalize}" + "'s Area:" %>
        <% end %>
      <% end %>
    </div>
    <!-- id area_help and your_area_help_text is required by javascript function -->
    <div id = "area_help">
      <%= image_tag("why_fb_log_in.png") %>
    </div>
    <!-- text for the qtip goes here, in this div, which is hidden -->
    <div id = "your_area_help_text">
        <%= "'Your Area' is 20km around the address you gave at registration. When you do a search, Populisto! shows Address Books of people who live in the circle." %>
    </div>
  </div>

  <div id="map_canvas"></div>
  <!-- Use the @resource.lat and lng attributes to draw the map in the map_canvas div, above -->
  <div id="user-position" class="hidden" data-lat="<%= @resource.lat %>" data-lng="<%= @resource.lng %>"></div>

<script>
  $(function() {
  // this function can be found in draw_map.js.erb
  initialize_google_maps();
  });
</script>
</div>
