
<div class="users-page">



  <div class="user-info">

    <div class = "avatar">
      <%= fb_avatar(@user) %>
    </div>
    <%#= label_tag I18n.t('helpers.your_page'), your_page(@user), :class => 'your_page_label' %>
    <%#= label_tag I18n.t('helpers.pop_something_in'), pop_something(@user), :class => 'pop_something_in' %>


         <!-- If the user has nothing in their address book,
         or if a person whose page is being viewed has nothing in it,
         render the page below. Basically, it says, 'This address book is empty' -->
        <% if @reviews.any? == false %>
    <%= render :partial => 'layouts/empty_user_address_book' %>
  <% end %>


    <%= link_to "Pop something in",reviews_path %>

    <%= render 'follow_form', :user => @user %>
    <%= render 'stats', :user => @user, :stats_user_id => @user.id %>

    <%= render 'your_location' %>


    <div class="clearfix"></div>

  </div>

<div class='find-something'>

  <div class="greetings">
    <% if @user == current_user %>
    <%= "Hi " + current_user.first_name + ", " + I18n.t('find_something.greetings', :km => @kms_range) %>
    <%=  %>
    <% elsif @user.address_visible %>
    <%="#{@user.first_name.capitalize}" + I18n.t('helpers.s_area') + " #{@user.address}" %>
    <% else %>
    <%= "#{@user.first_name.capitalize}" + I18n.t('helpers.s_area') %>
    <% end %>




    <%#= link_to I18n.t("find_something.change_range_#{@kms_range}"), change_range_search_index_path(:current_range => @kms_range) %>
  </div>
  <br>
  <br>
    <%#= link_to ("Go here", "http://www.rosk.com/") %>
    <%#= link_button_to 'Log out', sign_out_path, :class => 'fb-logout', :method => :delete %>

  <div class="search-area">

    <div class='search-box'>
      <%#= simple_form_for @review, :url => search_index_path, :method => :post, :html => { :class => 'form-horizontal'} do |f| %>

        <%#= f.input :search_ids, :collection => @data, :as => :grouped_chosen, 
                    :group_method => :last, :prompt => false,
                    :input_html => { :class => 'span5', :multiple => true }, 
                    :label => t('find_something.search_label'), 
                    :placeholder => t('find_something.search_placeholder') %>

        <%#= f.button :submit, :value => t('find_something.button_text'), :class => 'btn-primary search-button' %>

      <%# end %>
    </div> 
    <!-- <div class="clearfix"></div> -->
<!--     <div id="latitude" data-lat="<%# @user.lat %>">jjjjj</div>
    <div id="longitude" data-lng="<%# @user.lng %>">kkkkk</div> -->

    <div id="map_canvas">

    </div>
    <!-- This is here, to generate the user's latitude and longitude dynamically -->
    <!-- The data-lat and lng attributes are used in 'initialise_google_maps' function, in scripts.js' -->
    <div id="user-position" class="hidden" data-lat="<%= @user.lat %>" data-lng="<%= @user.lng %>"></div>

<!-- 
    <button id="show_the_number">show</button>
    <input type="text" id="text1"> -->


    <!-- <div id='users-counter'> -->
        <%#= @user.lat %>
        <%#= @user.lng %>
   <!-- are these below from the controller? -->
  <%#= @user_latitude %>
  <%#= @user_longitude %>
<!-- </div> -->
<!-- <a href='#' id='stop-renewing'>
  Stop renewing
</a> -->

    <!-- <div class="clearfix"></div> -->

  </div> 


 </div>


 <div class="reviews" >
  <!-- show the current user's reviews or-->
  <!-- if current user goes to another person's page, show the results on that person's page -->
  <%# if @reviews.any? %>
    <% @reviews.each do |review| %>
      <%= review_block review %>
    <% end %>
  <%# else %>
    <%#= render :partial => 'layouts/empty_user_address_book' %>
  <%# end %>
</div>



</div>

