
<!-- <div class="users-page"> -->



  <!-- <div class="user-info"> -->

<!--     <div class = "avatar">
      <%#= fb_avatar(@user) %>
    </div> -->
    <%#= label_tag I18n.t('helpers.your_page'), your_page(@user), :class => 'your_page_label' %>
    <%#= label_tag I18n.t('helpers.pop_something_in'), pop_something(@user), :class => 'pop_something_in' %>


         <!-- If the user has nothing in their address book,
         or if a person whose page is being viewed has nothing in it,
         render the page below. Basically, it says, 'This address book is empty' -->
        <!-- <div id ="contains"> -->

             <!--    <div id="testy">
    <%#= image_tag("logo.jpg") %>
  </div> -->

    <div id="map_canvas">

    </div>
    
  <div id = "character_and_bubbles">
<% if @user == current_user %>

<div id = "top_bubble_div">
<div id="top_bubble">
<%= "Would you like to " %>
<%= link_to "pop something in", reviews_path %>
<%= "to your Address Book? A butcher, a baker, a candlestick maker? Someone's skills worth knowing about? Let others in your community know about us!" %>
</div>
</div>

<div id = "p_mechanic">
  <%= image_tag("p_mechanic.png") %>
</div>

<div id = "right_bubble_div">
<span id="right_bubble">
<%= "When you do a search, we’ll return the results from peoples’ address books, who live within the circle on the map -  20km around the address you gave when registering with Populisto."
 %>
</span>
</div>

<%#=  I18n.t 'find_something.empty_user_owner' %>
<%# else %>

  <%#= @user.first_name.capitalize %>
  <%#= I18n.t 'helpers.s_page' %>
  <%#= I18n.t 'find_something.empty_user_other' %>
<!-- </h3> -->

    <% end %>

  </div>

    <!-- <div class="clear-both"></div> -->



<!-- </div> -->






    <%#= render :partial => 'layouts/empty_user_address_book' %>
    <%# if @reviews.any? == false %>
    <%# end %>




  




    <%#= link_to "Pop something in",reviews_path %>

    <%#= render 'follow_form', :user => @user %>
    <%#= render 'stats', :user => @user, :stats_user_id => @user.id %>

    <!-- this shows the user's address, with the option to toggle public or private -->
    <%#= render 'your_location' %>


    <!-- <div class="clearfix"></div> -->

  <!-- </div> -->

<div class='find-something'>

  <!-- <div class="greetings"> -->
    <%# if @user == current_user %>
    <p><%#= "just here for testing:" + current_user.first_name %></p>
    <%#= I18n.t('find_something.greetings', :km => @kms_range) %>
    <%#= "Hi " + current_user.first_name + ", " + I18n.t('find_something.greetings', :km => @kms_range) %>
    <%#=  %>
    <%# elsif @user.address_visible %>
    <%#="#{@user.first_name.capitalize}" + I18n.t('helpers.s_area') + " #{@user.address}" %>
    <%# else %>
    <%#= "#{@user.first_name.capitalize}" + I18n.t('helpers.s_area') %>
    <%# end %>




    <%#= link_to I18n.t("find_something.change_range_#{@kms_range}"), change_range_search_index_path(:current_range => @kms_range) %>
  </div>
  <br>
  <br>
    <%#= link_to ("Go here", "http://www.rosk.com/") %>
    <%#= link_button_to 'Log out', sign_out_path, :class => 'fb-logout', :method => :delete %>

  <div class="search-area">

    <div class='search-box'>
      <%#= simple_form_for @review, :url => search_index_path, :method => :post, :html => { :class => 'form-horizontal'} do |f| %>

        <%#= f.input :search_ids, :collection => @data, :as => :grouped_chosen, 
                    :group_method => :last, :prompt => false,
                    :input_html => { :class => 'span5', :multiple => true }, 
                    :label => t('find_something.search_label'), 
                    :placeholder => t('find_something.search_placeholder') %>

        <%#= f.button :submit, :value => t('find_something.button_text'), :class => 'btn-primary search-button' %>

      <%# end %>
    </div> 
    <!-- <div class="clearfix"></div> -->
<!--     <div id="latitude" data-lat="<%# @user.lat %>">jjjjj</div>
    <div id="longitude" data-lng="<%# @user.lng %>">kkkkk</div> -->

    <div id="map_canvas">

    </div>
    <!-- This is here, to generate the user's latitude and longitude dynamically -->
    <!-- The data-lat and lng attributes are used in 'initialise_google_maps' function, in scripts.js' -->
    <div id="user-position" class="hidden" data-lat="<%= @user.lat %>" data-lng="<%= @user.lng %>"></div>

<!-- 
    <button id="show_the_number">show</button>
    <input type="text" id="text1"> -->


    <!-- <div id='users-counter'> -->
        <%#= @user.lat %>
        <%#= @user.lng %>
   <!-- are these below from the controller? -->
  <%#= @user_latitude %>
  <%#= @user_longitude %>
<!-- </div> -->
<!-- <a href='#' id='stop-renewing'>
  Stop renewing
</a> -->

    <!-- <div class="clearfix"></div> -->

  </div> 


 </div>


 <div class="reviews" >
  <!-- show the current user's reviews or-->
  <!-- if current user goes to another person's page, show the results on that person's page -->
  <!-- this is separate to doing a search -->
  <!-- go through all the user's reviews, make sure they match up with the visible_to?
  method - not showing another user's private users - and then display the block -->
  <%# if @reviews.any? %>

  <% @reviews.select { |review| review.visible_to?(current_user) }.each do |review| %>
    <%= render 'reviews/review', :review => review %>
   <% end %>
    <%# @reviews.each do |review| %>
      <%#= review_block review %>
    <%# end %>
  <%# else %>
    <%#= render :partial => 'layouts/empty_user_address_book' %>
  <%# end %>
</div>



<!-- </div> -->

