<div class="your_page">
  <h2>Populisto! users in your area</h2>

  <% if @friends.any? %>
    <p></p>
    <h3>See what stuff your friends recommend</h3>
    <ul class="nav nav-tabs nav-stacked">
      <% @app_friends.each_with_index do |f, index| %>
        <li>
          <%= link_to address_book_path(f) do %>
            <div class="pull-left"><%= index + 1 %></div>
            <div class="span8">
              <div class="span1">
                <%= fb_avatar(f) %>
              </div>
              <div class="span6">
                <div><%= f.front_name %>
                </br>
                  <h5><%= fb_friendship_relation(f) %></h5></div>
              </div>
            </div>
            <div class="clearfix"></div>
          <% end %>
        </li>
      <% end %>
      <% @friends.each_with_index do |f, index| %>
        <li>
          <%= link_to address_book_path(f) do %>
            <div class="pull-left"><%= index + @app_friends.count + 1 %></div>
            <div class="span8">
              <div class="span1">
                <%= fb_avatar(f) %>
              </div>
              <div class="span6">
                <div><%= f.front_name %>
                </br>
                  <h5><%= fb_friendship_relation(f) %></h5></div>
              </div>
            </div>
            <div class="clearfix"></div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <% if @others.any? %>
    <p></p>
    <h3>See what stuff others in your area recommend</h3>
    <ul class="nav nav-tabs nav-stacked">
      <% @others.each_with_index do |f, index| %>
        <li>
          <%= link_to address_book_path(f) do %>
            <div class="pull-left"><%= index + 1 %></div>
            <div class="span8">
              <div class="span1">
                <%= fb_avatar(f) %>
              </div>
              <div class="span6">
                <div><%= f.front_name %></div>
              </div>
            </div>
            <div class="clearfix"></div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
