<div class='map-page'>
  <div class='address-area'>
    <% if current_user %>
    <%= form_for current_user, :url => update_address_path, :html => {:method => :post, :class => 'form-horizontal', :id => 'address_form'} do |f| %>
      <div class="greetings">
        <%= I18n.t('map_page.greetings_1', :user_name => current_user.first_name) %><br><br>
        <%= I18n.t('map_page.greetings_2') %>
      </div>
      <%= f.text_field :address, :id => 'address_autocomplete', :placeholder => I18n.t('helpers.enter_a_location_map')  %>
      <%= f.hidden_field :city %>
      <%= f.hidden_field :lat  %>
      <%= f.hidden_field :lng  %>
      <%= hidden_field_tag :changed %>
    <% end %>
    <% elsif current_company %>
    <%= form_for current_company, :url => update_address_path, :html => {:method => :post, :class => 'form-horizontal', :id => 'address_form'} do |f| %>
      <div class="greetings">
        Hi <%= current_company.name %>.<br><br>
        Select up to two categories that best describe your organization.
      </div>
      <div class="categories_select">
        <%= f.collection_select :category_ids, Category.filtered.order(:name), :id, :name, {:class => 'chosen-select'}, {:multiple => true, :required => true} %>
        <br><br>
        <%= f.text_field :phone, :placeholder => 'Phone number', :class => 'phone_field' %>
      </div>
        <div class="phone_number">
       <br><br>
        Phone number, with area code:
      </div>
      <div class="greetings">
        And please tell Populisto! your address details, so people will know where you're located.
      </div>
      <%= f.text_field :address, :id => 'address_autocomplete', :placeholder => I18n.t('helpers.enter_a_location_map')  %>
      <%= f.hidden_field :city %>
      <%= f.hidden_field :lat  %>
      <%= f.hidden_field :lng  %>
      <%= hidden_field_tag :changed %>
    <% end %>
    <% end %>

  </div>

  <div id="map_canvas"></div>

  <div id="info_window" style="display:none">

  <%#= link_to I18n.t('map.next_link'), '#', :class => 'btn', :id => 'map-next-link' %>

  <div class="clearfix"></div>

  <div id = "correct_area">
  Is this the correct area?
  </div>


  <%#= code below deals with the 'Yes' and 'No' links on the infoWindow.
  They go to the aplication.js file %>

  <div id="no_link">
  <%= link_to I18n.t('map.no_link'), '#', :class => 'map-no-link' %>
  </div>

  <div id="yes_link">
    <%= link_to I18n.t('map.yes_link'), '#', :class => 'map-yes-link' %>

  </div>

</div>

</div>

<script type="text/javascript">
  var pac_input = document.getElementById('address_autocomplete');

  (function pacSelectFirst(input){
    // store the original event binding function
    var _addEventListener = (input.addEventListener) ? input.addEventListener : input.attachEvent;

    function addEventListenerWrapper(type, listener) {
      // Simulate a 'down arrow' keypress on hitting 'return' when no pac suggestion is selected,
      // and then trigger the original listener.
      if (type == "keydown") {
        var orig_listener = listener;
        listener = function (event) {
          var suggestion_selected = $(".pac-item.pac-selected").length > 0;
          if (event.which == 13 && !suggestion_selected) {
            event.preventDefault();
            var simulated_downarrow = $.Event("keydown", {keyCode:40, which:40})
            orig_listener.apply(input, [simulated_downarrow]);
          }

          orig_listener.apply(input, [event]);
        };
      }

      // add the modified listener
      _addEventListener.apply(input, [type, listener]);
    }

    if (input.addEventListener)
      input.addEventListener = addEventListenerWrapper;
    else if (input.attachEvent)
      input.attachEvent = addEventListenerWrapper;

  })(pac_input);

  function initialize_google_maps() {
    var midOfIreland = new google.maps.LatLng(53.252069, -7.860718);
    var myOptions = {
      zoom: 7,
      center: midOfIreland,
      mapTypeId: google.maps.MapTypeId.ROADMAP, // ROADMAP, SATELLITE, HYBRID
      streetViewControl: false
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

    var options = {
      types: ['geocode']
    };

    autocomplete = new google.maps.places.Autocomplete(pac_input, options);
    autocomplete.bindTo('bounds', map);
    // $(autocomplete).trigger("click");

    var contentstring = $('#info_window').html();

    var infowindow = new google.maps.InfoWindow({content: contentstring, width:1, height:1});
    // for the 'x', to close the infoWindow, we give it the same behaviour as the 'No' link, in the infoWindow
    google.maps.event.addListener(infowindow, 'closeclick', function() {
      $(".map-no-link").trigger("click");
    });

    var marker = new google.maps.Marker({
      map: map
    });

    google.maps.event.addListener(autocomplete, 'place_changed', function() {
      var place = autocomplete.getPlace();
      if (place.geometry.viewport) {
          map.fitBounds(place.geometry.viewport);
      } else {
          map.setCenter(place.geometry.location);
          map.setZoom(11);
      }

      marker.setPosition(place.geometry.location);
      <% if current_user %>
      $('#user_lat').val(place.geometry.location.lat());
      $('#user_lng').val(place.geometry.location.lng());
      $('#user_city').val(place.address_components[0] && place.address_components[0].short_name || '')
      <% elsif current_company %>
      $('#company_lat').val(place.geometry.location.lat());
      $('#company_lng').val(place.geometry.location.lng());
      $('#company_city').val(place.address_components[0] && place.address_components[0].short_name || '')
      <% end %>
      $('#changed').val('1');

      //infowindow.setContent(place.name);
      infowindow.open(map, marker);
    });

    <% if current_user %>
      <% if current_user.address and current_user.lat %>
        var currentlatlng = new google.maps.LatLng(<%= current_user.lat %>, <%= current_user.lng %>);
        var marker = new google.maps.Marker({map: map, position: currentlatlng});
        map.setCenter(currentlatlng);
        map.setZoom(11);
      <% end %>
    <% elsif current_company %>
    <% if current_company.address and current_company.lat %>
        var currentlatlng = new google.maps.LatLng(<%= current_company.lat %>, <%= current_company.lng %>);
        var marker = new google.maps.Marker({map: map, position: currentlatlng});
        map.setCenter(currentlatlng);
        map.setZoom(11);
      <% end %>
    <% end %>

  }

  $(function() {
      initialize_google_maps();
  });
</script>
