  <div class="inputs clearfix">
            <div class="leftGroups">
              <%= f.input :category_ids, :collection => Category.all, :as => :chosen, :prompt => false,
                               :input_html => {  :multiple => true },
                               :label => I18n.t('write_review.categories_selector_label') , :placeholder => ' ' %>
              <%= f.input :name, :required => true %>
              <%= f.input :phone  %>

              <%= f.input :address, :placeholder => '' %>

              <%= f.hidden_field :lat  %>
              <%= f.hidden_field :lng  %>
            </div>
            <div class="rightGroups">
              <%= f.input :comment, :label => I18n.t('write_review.comment_label') %>
              <!-- <a class="review-comments-example" href='#'><%#= I18n.t('write_review.comment_popup_link_text') %></a> -->
              <label id ="char_count_label"></label>
            </div>
          </div>

          <div class="actions">
            <div class='share-private'>
          
              <%= f.radio_button :visible, "true" , :class => "share_button" %>
              <%= f.label I18n.t('helpers.links.share') , :class => "share_label" %>
              
              <%= f.radio_button :visible, "false", :class => "keep_private_button" %>
              <%= f.label I18n.t('helpers.links.keep_private'), :class => "keep_private_label" %>
            </div>
            
            <%= link_to I18n.t('write_review.cancel_button'), landing_page, :class => 'btn' %>
            <%= f.button :submit, I18n.t('write_review.submit_button'), :class => 'btn btn-primary' %>
          </div>
      <% end %>
  </div>
  <div>
      <%#= @user_latitude  %>
    <%#= @user_longitude %>
</div>
</div>

<script>

$(document).ready(function()  {
    var characters = 200;
    $("#char_count_label").append(characters);
    $('textarea').keyup(function(){
        if($(this).val().length > characters){
        $(this).val($(this).val().substr(0, characters));
        }
    var remaining = characters -  $(this).val().length;
    $("#char_count_label").html(remaining);
    // if(remaining <= 10)
    // {
    //     $("#char_count_label").css("color","red");
    // }
    // else
    // {
    //     $("#char_count_label").css("color","black");
    // }
    });
});

</script>