  <%
  if current_user
    resource = current_user
  else
    resource = current_company
  end
  %>


<div class="header">
  <div class="populisto_logo">
    <%= link_to(image_tag('populisto_logo_for_web.png', :alt => t('application.title')), root_path) %>
  </div>

  <% if resource.registration_complete? %>
    <div class="top_bar">
      <div id = "menu">
        <ul id = "static_pages">
          <li><%= link_to "About Us",about_us_path %></li>
          <li><%= link_to "FAQ", faq_path %></li>
          <li><a href="#" class="email-invite-link">Invite Others (please!)</a></li>
          <li><%= link_to "Contact Us", contact_us_path %></li>
          <li><%= link_to "Your Address Book", resource_home_path(current_resource) %></li>
          <li><%= link_to "Pop Something In", reviews_path %></li>
        </ul>
      </div>

      <div class="user-panel">
        <%= fb_avatar(resource)  %>
        <% if current_user %>
          <%= link_button_to 'Log out', destroy_user_session_path, :class => 'fb-logout', :method => :delete  %>
        <% else %>
          <%= link_button_to 'Log out', destroy_company_session_path, :class => 'fb-logout', :method => :delete %>
        <% end %>
        <%= resource.front_name if resource.front_name.present? %>
        <div class="fb-like" data-href="<%= Rails.env.development? ? 'https://www.facebook.com/Populisto?ref=hl' : 'https://www.facebook.com/Populisto?ref=hl' %>" data-width="300" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="true" data-send="false"></div>
      </div>
      </div>
  <% end %>
  <div style="clear:both;"></div>
  <% if resource.registration_complete? %>
    <div class='search-box'>
      <%= simple_form_for @review, :url => search_index_path, :method => :post, :html => {:class => 'form-inline'} do |f| %>
      <%= f.input :search_ids, :collection => @data, :as => :grouped_chosen, :group_method => :last, :prompt => false,
      :input_html => { :class => 'span5', :multiple => true }, :label => false, :placeholder => t('find_something.search_placeholder') %>
      <%= f.button :submit, :value => t('find_something.button_text'), :class => 'btn-primary search-button', :disabled => true %>
      <% end %>
      <div id = "search_box_help">
        <%= image_tag("why_fb_log_in.png") %>
      </div>
      <div id="search_box_help_content">
        Put in up to 2 categories, for example, 'Plumber, paver'.  Your FaceBook friends with Address Books come up first. You can also search by a person's name.
      </div>
    </div>
  <% end %>
</div>
