<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>jQuery Mobile Bootstrap Theme</title>
         <%= stylesheet_link_tag "mobile" %>
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0/jquery.mobile.structure-1.4.0.min.css" />
        <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js"></script>
        <%= javascript_include_tag "mobile" %>
    </head>
    <body>
        <%= render :partial => 'layouts/fb_init.html' %>
        <div data-role="page" data-theme="a">

            <div data-role="content" data-theme="a">

                <%= image_tag('populisto_logo_for_web1.png', :alt => t('application.title')) %>

                <%= yield %>

                <%= fb_login_mobile_button('Log In with Facebook') %>
                <a href="index.html" data-role="button" data-theme="e">Log In</a>
                <a href="index.html" data-role="button" data-theme="e">Sign Up</a>
                <a href="index.html" data-role="button" data-theme="e">Use without Signing Up</a>
                <a href="index.html" data-role="button" data-theme="e">Get Listed!</a>
                <%= link_to "About Us", about_us_path, {'data-role' => "button", 'data-theme'=>"e"} %>
                <%= link_to "Terms and Conditions.", t_and_c_path,{'data-role' => "button", 'data-theme'=>"e"} %>
                <a href="index.html" data-role="button" data-theme="e">Your Contacts</a>


<!--                 <a href="index.html" data-role="button" data-theme="e">Log In</a>
                <a href="index.html" data-role="button" data-theme="a" data-icon="search">Swatch B</a>
                <a href="index.html" data-role="button" data-theme="c" data-icon="check">Swatch C</a>
                <a href="index.html" data-role="button" data-theme="d" data-icon="info">Swatch D</a>
                <a href="index.html" data-role="button" data-theme="e" data-icon="arrow-d">Swatch E</a>
                <a href="index.html" data-role="button" data-theme="f" data-icon="delete">Swatch F</a> -->



                </div>
        </div>
    </body>
</html>

