<!DOCTYPE html>
<html>
<head>
  <title><%= t('application.title') %></title>
  <%#= include_gon(:watch => true) %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  
  <% if @include_goole_maps %>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true&libraries=places"></script>

  <% end %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application" %>
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <%= stylesheet_link_tag 'ie', :media => 'all' %>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <%= render :partial => 'layouts/fb_init' %>
  <!-- <div class="container">  -->

    <!-- If user is signed in and registered, show the header - Your Address Book, Search box etc... 
        we don't want to show all this on sign up page, map for choosing address, terms and conditions etc-->
    <%= render :partial => 'layouts/header' if user_signed_in? && current_user.registration_complete? %>
    <!-- If user is signed in and registered, show the 'Win an iPad! partial' -->
    <%= render :partial => 'layouts/competition' if user_signed_in? && current_user.registration_complete? %>
    <%#= render :partial => 'layouts/messages' if user_signed_in? && current_user.registration_complete?%>


                <!-- <div id = "user-map-page"> -->
      <%#= render :partial => 'layouts/user_page_with_map' if @show_map %>

    <div class ='page-content'>

        <%#= render :partial => 'layouts/pop_in' %>
        <%= content_for?(:body) ? yield(:body) : yield %>
    </div>

  <!-- <div id = "footer" style = "background-color: blue;">My footer</div> -->
   <!-- </div> -->

</body>
</html>
